<html>
<div>
        <head>
            <title>Trip Tips</title>
        </head>
        <h1>Trip Tips</h1>
            <h2>Акции авиакомпаний</h2>
            <h3>Полеты в Санкт-Петербург за 1700 руб </h3>
        <body>
            <p>Отличная цена у авиакомпании Nordwind: прямые полеты между Москвой и Петербургом всего за 1700 рублей в одну сторону. В цене багаж.
              <br /><a href="http://www.nordwindairlines.ru/ru">Билеты</a> по таким ценам есть практически на любые даты с 17 июня по 29 октября (кроме четвергов).
              До Питера всего за 1 час - красота :)
              <ul><li>Заходим в приложение или на сайт momondo</li><li>Вбиваем "из Москвы" в "Питер"</li><li>Выбираем "в одну сторону"</li><li>Дожидаемся результатов и наслаждаемся классными ценами!</li></ul>
</p>
                </body>
              </div>

{% for post in posts %}
<p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
      {% endfor %}
    </html>
